@model List<Blog>

@{
    ViewData["Title"] = "Index";
}

<style>
    .blog-table-img {
        width: 100px !important;
        height: 100px !important;
        border-radius: 1rem !important;
    }
</style>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <span class="d-flex align-items-center justify-content-between">
                <h4 class="card-title">Bloglar</h4>
                <a type="button" class="btn btn-info" asp-controller="Blog" asp-action="Create">Create</a>
            </span>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" colspan="5">Image</th>
                        <th scope="col" colspan="5">Name</th>
                        <th scope="col" colspan="1">Status</th>
                        <th scope="col" colspan="2" class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Blog item in Model)
                    {
                        <tr>
                            <th scope="row" colspan="5"><img class="blog-table-img" src="~/assets/img/@item.Photo" alt=""></th>
                            <td colspan="5">@item.Name</td>
                            <td>
                                @if (!item.IsDeactive)
                                {
                                    <span class="badge badge-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Passive</span>
                                }
                            </td>
                            <td colspan="1" class="text-end">
                                <a asp-action="Detail" asp-route-id="@item.Id"><button class="btn btn-info p-2"><span class="material-symbols-outlined">info</span></button></a>
                                <a asp-action="Update" asp-route-id="@item.Id"><button class="btn btn-warning p-2"><span class="material-symbols-outlined">update</span></button></a>
                                @if (!item.IsDeactive)
                                {
                                    <a asp-action="Activity" asp-route-id="@item.Id"><button class="btn btn-success mx-2 p-2"><span class="material-symbols-outlined">check</span></button></a>
                                }
                                else
                                {
                                    <a asp-action="Activity" asp-route-id="@item.Id"><button class="btn btn-danger mx-2 p-2"><span class="material-symbols-outlined">ward</span></button></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>